/* Computer */
@media only screen and (min-width: 1100px) and (aspect-ratio < 1),
only screen and (min-height: 600px) and (aspect-ratio > 1) {
.body {
    min-height: var(--header-height);
    width: 100vw;
    background-color: var(--strong-black);
    position : absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.headerTitle {
    color: var(--dark-white);
    margin: 0;
    font-size: 2.8vw;
    letter-spacing: 0.15vw;
    font-weight: 600;
    text-align: center;
}
}

/* Phones */
@media only screen and (max-width: 1100px) and (aspect-ratio < 1),
only screen and (max-height: 600px) and (aspect-ratio > 1) {
.body {
    min-height: var(--header-height);
    background-color: var(--strong-black);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
}

.headerTitle {
    color: var(--dark-white);
    margin: 0;
    font-size: calc(var(--screen-coeff) * 36px);
    letter-spacing: calc(var(--screen-coeff) * 2px);
    font-weight: 600;
    text-align: center;
}
}