.menuButton {
  width: 8vw;
  height: 3vw;
  background-color: var(--medium-grey);
  border: transparent;
  position: absolute;
  left: 4vw;
  border-radius: calc(var(--regular-border-radius) * 0.8);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.menuText {
  color: var(--dark-white);
  font-size: 1.3vw;
  letter-spacing: 0.05vw;
  font-weight: 500;
  line-height: 1.4em;
  text-align: center;
  margin: 0;
}

/* Computer */
@media only screen and (min-width: 1100px) and (aspect-ratio < 1),
  only screen and (min-height: 600px) and (aspect-ratio > 1) {
  .menuIcon {
    color: var(--dark-white);
    height: 1.6vw;
    width: 1.6vw;
  }
}

/* Phones */
@media only screen and (max-width: 1100px) and (aspect-ratio < 1),
  only screen and (max-height: 600px) and (aspect-ratio > 1) {
  .menuIcon {
    color: var(--dark-white);
    height: calc(var(--screen-coeff) * 32px);
    width: calc(var(--screen-coeff) * 32px);
    position: absolute;
    left: calc(var(--screen-coeff) * 25px);
    margin-top: calc(var(--screen-coeff) * 3px);
  }
}