.body {
    min-height: var(--header-height);
    background-color: var(--strong-black);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
}

.headerTitle {
    color: var(--dark-white);
    margin: 0;
    font-size: calc(var(--screen-coeff) * 36px);
    letter-spacing: calc(var(--screen-coeff) * 2px);
    font-weight: 600;
    text-align: center;
}