/* Computer */
@media only screen and (min-width: 1100px) and (aspect-ratio < 1),
only screen and (min-height: 600px) and (aspect-ratio > 1) {
    .mainContainer {
        width: 100vw;
        height: var(--horiz-menu-height);
        background-color: var(--dark-grey);
        position: fixed;
        top: var(--header-height);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-top: 0.3vw;
        z-index: 8;
    }

    .underline {
        background-color: var(--strong-red);
        min-height: 0.35vw;
        position: absolute;
        bottom: 0;
        transition: left 0.5s,
            width 0.5s;
    }
}

/* Phones */
@media only screen and (max-width: 1100px) and (aspect-ratio < 1),
only screen and (max-height: 600px) and (aspect-ratio > 1) {
    .mainContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100vw;
        height: var(--horiz-menu-height);
        background-color: var(--dark-grey);
        position: fixed;
        top: var(--header-height);
        overflow-x: scroll;
        column-gap: calc(var(--screen-coeff) * 15px);
        padding: 0 calc(var(--screen-coeff) * 10px);
        scrollbar-width: none;
        z-index: 8;
    }

    .underline {
        background-color: var(--strong-red);
        min-height: calc(var(--screen-coeff) * 6px);
        position: absolute;
        bottom: 0;
        transition: left 0.4s,
            width 0.4s;
    }
}