.body {
    min-height: var(--header-height);
    width: 100vw;
    background-color: var(--strong-black);
    position : absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.headerTitle {
    color: var(--dark-white);
    margin: 0;
    font-size: 2.8vw;
    letter-spacing: 0.15vw;
    font-weight: 600;
    text-align: center;
}