/* Computer and Phones */
.passwordInput {
    width: 90%;
    height: 100%;
    background-color: transparent;
    border: none;
    padding: 0;
}

/* Computer */
@media only screen and (min-width: 1100px) and (aspect-ratio < 1),
only screen and (min-height: 600px) and (aspect-ratio > 1) {

    /* Main sizes of the components */
    :root {
        --header-height: 7vw;
        --page-padding-top: calc(var(--header-height) + 4vw);
        --page-padding-bottom: 4vw;
        --regular-border-radius: 0.8vw;
        --regular-item-width: 25vw;
        --regular-item-height: 3vw;
        --large-item-width: 35vw;
        --large-item-height: 3.6vw;
        --very-large-item-width: 71.5vw;
        --item-margin-top: 1.1vw;
    }


    /* Components style */
    .regularInput {
        width: var(--regular-item-width);
        min-height: var(--regular-item-height);
        height: var(--regular-item-height);
        border-radius: var(--regular-border-radius);
        background-color: transparent;
        border: 1px solid var(--light-grey);
        padding: 0 1vw;
        margin-top: var(--item-margin-top);
        font-size: var(--regular-font-size);
    }

    .largeItem {
        width: var(--large-item-width);
        min-height: var(--large-item-height);
        height: var(--large-item-height);
        border-radius: var(--regular-border-radius);
        background-color: var(--dark-grey);
        border: none;
        padding: 0 1vw;
        margin-top: var(--item-margin-top);
    }

    .regularButton {
        width: var(--regular-item-width);
        min-height: var(--regular-item-height);
        height: var(--regular-item-height);
        border-radius: var(--regular-border-radius);
        background-color: var(--bright-red);
        border: none;
        margin-top: var(--item-margin-top);
        cursor: pointer;
    }

    .passwordIcon {
        color: var(--light-grey);
        width: 1.6vw;
        height: 1.6vw;
    }

    .line {
        background-color: var(--bright-grey);
        min-height: 0.1vw;
    }

    .computerLargeItemWidth {
        width: var(--large-item-width);
    }


}


/* Phones */
@media only screen and (max-width: 1100px) and (aspect-ratio < 1),
only screen and (max-height: 600px) and (aspect-ratio > 1) {

    /* Main sizes of the components */
    :root {
        --header-height: calc(var(--screen-coeff) * 80px);
        --page-padding-top: calc(var(--screen-coeff) * 30px);
        --page-padding-bottom: calc(var(--screen-coeff) * 30px);
        --regular-border-radius: calc(var(--screen-coeff) * 10px);
        --regular-item-width: calc(var(--screen-coeff) * 280px);
        --regular-item-height: calc(var(--screen-coeff) * 40px);
        --large-item-width: calc(var(--screen-coeff) * 380px);
        --large-item-height: calc(var(--screen-coeff) * 50px);
        --item-margin-top: calc(var(--screen-coeff) * 15px);
    }


    .regularInput {
        width: var(--regular-item-width);
        min-height: var(--regular-item-height);
        height: var(--regular-item-height);
        border-radius: var(--regular-border-radius);
        background-color: transparent;
        border: 1px solid var(--light-grey);
        padding: 0 calc(var(--screen-coeff) * 10px);
        margin-top: var(--item-margin-top);
        font-size: var(--regular-font-size);
    }

    .largeItem {
        width: var(--large-item-width);
        max-width: 100%;
        min-height: var(--large-item-height);
        height: var(--large-item-height);
        border-radius: var(--regular-border-radius);
        background-color: var(--dark-grey);
        border: none;
        padding: 0 calc(var(--screen-coeff) * 10px);
        margin-top: var(--item-margin-top);
    }

    .regularButton {
        width: var(--regular-item-width);
        min-height: var(--regular-item-height);
        height: var(--regular-item-height);
        border-radius: var(--regular-border-radius);
        background-color: var(--bright-red);
        border: none;
        margin-top: var(--item-margin-top);
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
    }

    .passwordIcon {
        color: var(--light-grey);
        width: calc(var(--screen-coeff) * 20px);
        height: calc(var(--screen-coeff) * 20px);
    }

    .line {
        background-color: var(--bright-grey);
        min-height: 1px
    }

}