  .error {
      color: var(--strong-red);
  }

  .success {
      color: var(--light-green)
  }



  
/* Computer */
@media only screen and (min-width: 1100px) and (aspect-ratio < 1),
only screen and (min-height: 600px) and (aspect-ratio > 1) {

    /* Main fonts settings of the app */
    :root {
        --regular-font-size: 1.2vw;
    }

    .pageTitle {
        color: var(--dark-white);
        margin: 0;
        font-size: 2.5vw;
        letter-spacing: 0.15vw;
        font-weight: 500;
        text-align: center;
    }

    .pageSubtitle {
        color: var(--light-grey);
        margin: 0.5vw 0 0 0;
        font-size: 1.5vw;
        letter-spacing: 0.15vw;
        font-weight: 400;
        line-height: 1.4em;
        text-align: center;
    }

    .regularText {
        color: var(--dark-white);
        font-size: var(--regular-font-size);
        font-weight: 400;
        letter-spacing: 0.05vw;
        margin: 0;
        line-height: 1.8vw;
    }

    .inputLabelText {
        color: var(--bright-grey);
        font-size: var(--regular-font-size);
        font-weight: 500;
        letter-spacing: 0.05vw;
        margin: 1.5vw 0 0 0;
        text-align: center;
    }

    .smallText {
        color: var(--dark-white);
        font-size: 1vw;
        font-weight: 400;
        letter-spacing: 0.05vw;
        line-height: 1em;
        margin: 0;
        text-align: center;
    }

    .warning {
        text-align: center;
        font-weight: 500;
        width: 100%;
        font-size: 1.2vw;
        letter-spacing: 0.05vw;
        margin-bottom: 0;
        margin-top: 0.5em;
        line-height: 1em;
    }
}


/* Phones */
@media only screen and (max-width: 1100px) and (aspect-ratio < 1),
only screen and (max-height: 600px) and (aspect-ratio > 1) {

    /* Main fonts settings of the app */

    :root {
        --regular-font-size: calc(var(--screen-coeff) * 18px);
    }

      .pageTitle {
        color: var(--dark-white);
        margin: 0;
        font-size: calc(var(--screen-coeff) * 30px);
        letter-spacing: calc(var(--screen-coeff) * 2px);
        font-weight: 500;
        text-align: center;
    }

    .pageSubtitle {
        color: var(--light-grey);
        margin: calc(var(--screen-coeff) * 5px) 0 0 0;
        font-size: calc(var(--screen-coeff) * 22px);
        letter-spacing: calc(var(--screen-coeff) * 2px);
        font-weight: 400;
        text-align: center;
    }

    .regularText {
        color: var(--dark-white);
        font-size: var(--regular-font-size);
        font-weight: 400;
        margin: 0;
        line-height: calc(var(--screen-coeff) * 27px);
    }

    .inputLabelText {
        color: var(--bright-grey);
        font-size: var(--regular-font-size);
        font-weight: 500;
        margin: calc(var(--screen-coeff) * 22px) 0 0 0;
    }

    .smallText {
        color: var(--dark-white);
        font-size: calc(var(--screen-coeff) * 16px);
        font-weight: 400;
        margin: 0;
        text-align: center;
        line-height: 1em;
    }

    .warning {
        text-align: center;
        font-weight: 500;
        width: 100%;
        font-size: calc(var(--screen-coeff) * 18px);
        font-weight: 400;
        margin-bottom: 0;
        margin-top: 0.5em;
        line-height: 1em;
    }

}