body {
  padding: 0;
  margin: 0;
  max-width: 100%;
  background: var(--light-grey); /* Color of the background to fill empty edges spaces on safari ios */
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}



/* Changes of default settings */
input {
    outline: none;
    text-align: left;
}

button {
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    text-align: center;
}

div {
    -webkit-tap-highlight-color: transparent;
}







